.user-history-container{
  height:100%;
  .UserHistory{
    display: flex;
    position: fixed;
    left: 2rem;
    right: 2rem;
    top: 0;
    bottom: 2rem;
    justify-content: center;
    .close-history:hover{
      background-color: darken(pink, 5%);
    }
    .close-history{
      text-decoration: none;
      color: black;
      position: absolute;
      top: 0;
      background-color: lightpink;
      border: none;
      width: 80vw;
      height: 3rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .routine-history{
      //height: max-content;
      margin-top: 7rem;
      background-color: #F9C095;
      display: block;
      //flex-direction: column;
      padding: 3rem;
      border-radius: 10px;
      width: 80%;
      color: black;
      overflow: scroll;
      .history-title{
        margin-bottom: 1rem;
        font-size: 200%;
        text-align: center;
      }
      .routine-item:hover{
        background-color: black;
        color: #F9C095;
      }
      .routine-item{
        cursor: pointer;
        //display: inline-block;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 3px 3px 6px black;
        margin-bottom: 1rem;
        div{
          display: inline-block;
          height: max-content;
          padding: 1rem 0;
        }

      }
    }

  }
}
