html, body, #root{
    height: 100%;
}
#root{
    background-image: url('/images/dumbnot-background.jpg');
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}
.auth-navbar{
    text-align: center;
    border-bottom: solid 1px;
    padding: 10px;
    font-size: 25px;
}
.signup-form-header{
    text-align: center;
    margin: 5rem;
    font-size: 3.5rem;
    font-weight: bold;
}
.signup-form-container{
    display: flex;
    justify-content: center;
}
.signup-form-detail-container{
    text-align: center;
    font-size: 1.123rem;
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
}
.signup-form-detail-label:focus-within{
    transition: 0.5s ease;
    font-size: 70%;
}
.signup-form-detail-input{
    border: none;
    margin-top: 0.5rem;
    border-bottom: solid 1px lightgray;
}
.signup-form-detail-input > input{
    transition: 0.3s ease-in;
    text-align: center;
}
.signup-form-detail-input > input:focus, DayPickerInput > input:focus{
    transition: 0.3s ease-out;
    font-size: 150%;
    text-align: center;

}
.signup-form-detail-dropdown{

}
.signup-form-dropdown{
    padding: 0.3125rem 3.5625rem;
}
.signup-form-input-detail-container{
    margin-bottom: 1.5625rem;
    max-width: 12.5rem;
    margin: auto;
    margin-bottom: 1.875rem;
}
input:focus{
    outline: none;
}
.signup-form-button{
    text-align: center;
    font-size: 1.25rem;
    border: solid 1px lightgray;
    width: 9.375rem;
    margin: auto;
    padding: 0.3125rem 0.625rem;
    border-radius: 4px;
    background-color: #316a95;
}
.signup-errors{
    font-size: 0.9375rem;
    padding: 0.3125rem;
    color: red
}
.DayPickerInput > input{
    text-align: center;
}
.signup-form-detail-dropdown{
    margin-top: 0.5rem;
}
.signup-form-dropdown:focus{
    outline: none;
}
.signup-form-dropdown{
    appearance: none;
    color: rgba(0,0,0,0.84);
    background-color: white;
    height: 1.875rem;
    width: 12.5rem;
}
