body{
    background-image: url('/images/dumbnot-background.jpg');
    background-position: left top;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    #root {
        height: 100%;
    }
}
html{
    height: 100%;
}

input:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: lightgray ;
    }
}
@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: lightgray ;
    }
}

.separator-container {
    display: flex;
    align-items: center;
    margin: 1em 0;
    width: 80%;
    color: lightgray;
    .separator {
        border-bottom: 2px solid #898989;
        flex: 1 1;
        //margin: 0 1.5em;
    }
    span:nth-of-type(2){
        margin: 0 1.5em;
    }
}
::-webkit-scrollbar {
    display: none;
}

