html{
    height: 100%;
    body{
        background-image: url(/images/dumbnot-background.jpg);
        background-size: auto 100%;
        background-position: left top;
        display: flex;
        flex-direction: column;
    }
}

input:focus{
    outline: none;
}


