.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(/images/dumbnot-background.jpg);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightskyblue;
  text-align: center;
  border-radius: 1rem;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  overflow: scroll;
  overflow-wrap: break-word;
}

.close-modal-button{
    color: lightskyblue;
    background: none;
    border: none;
}