.muscle-group-selector-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 6px black;
    border-radius: 5px;
  overflow: hidden;
  .muscle-group-selector {
    .exercise-selector-header{
      font-size: 150%;
    }
    .side-choice{
      padding: 1rem;
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #F9C095;
      div{
          background-color: black;
          border-radius: 5px;
          width: 100%;
          padding: 1rem 0;

          cursor: pointer;

        }
        div:hover{
          color: darken(#F9C095, 5%);
          box-shadow: 3px 3px 6px black;
        }
      }
    img{
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
      cursor:'pointer';
    }
  }
}

