.navbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    //box-shadow: 0rem 0.2rem 0.5rem black;
    background-color: black;
    .navbar > div{
        width: 33%;
    }
    .navbar{
        width: 100%;
        height: 6rem;
        display:flex;
        justify-content: space-between;
        z-index: 1;
        .action-container > button{
            margin-right: 1rem;
        }
        .action-container{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .logout-button{
                background-color: transparent;
                color: #F9C095;
                padding: 0.35rem 1rem;
                border: 1px #F9C095 solid;
                border-radius: 5px;
                font-size: 125%;
            }
            .logout-button:hover{
                background-color: #F9C095;
                color: black;
                cursor: pointer;
            }
        }

        .hamburger{
            display: flex;
            align-items: center;
            margin-left: 1rem;
            svg{
                height: 24px;
                width: 24px;
                cursor: pointer;
                g{
                    fill: white;
                }
            }
        }
        .navbar-logo{
            width: 30%;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            background-image: url("/images/donut-dumbbell.png");
        }
        .navbar-name{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 150%;
        }
    }
}
.bottom-navbar-container{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: lightskyblue;
    .bottom-navbar{
        width: 100%;
        height: 5rem;
        display:flex;
        align-items: center;
        justify-content: space-around;
        div{
            height: 70%;
            button{
                height: 100%;
                background-color: lightskyblue;
                border: none;
                cursor: pointer;
            }
            a.active > svg{
                fill: white;
            }
        }
    }
}