.new-routine-form{
    background: lightskyblue;
    text-align: center;
    border-radius: 0.5rem;
    width: 80vw;
    height: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    .next-button{
        margin-top: 15rem;
        background: lightskyblue;
        border: none;
        font-size: large;
        position: sticky;
    }
}

.start-date-label{
    margin-top: 5rem;
}



