
.signup-form-header{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
}
.signup-page-container{
    height: 100%;
    overflow: hidden;
    .signup-page{
        display: flex;
        height: 100%;
        .signup-pic{
            flex: 1 1;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .signup-form-container > div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 8rem;
            .separator-container{
                max-width: 512px;
                width: 100%;
            }
        }
        .signup-form-container{
            overflow-y: scroll;
            flex: 2 1;
            // justify-content: start;
            //padding-bottom: 4rem;
            // align-items: center;
            background-color: white;
            //padding-left: 5rem;
            .sign-up-link-container {
                max-width: 512px;
                width: 100%;
                display: flex;

                .sign-up-link {
                    width: 100%;
                    display: block;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid black;
                    border-radius: 3px;
                    background-color: black;
                    margin: 1em 0 0 0;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    will-change: background-color color;
                    text-transform: uppercase;
                    color: #F9C095;
                    padding: 1.25em 2em;
                    cursor: pointer;
                }

                .sign-up-link:hover {
                    border: 1px solid #F9C095;
                    background-color: #F9C095;
                    color: black;
                }
            }
        }

    }
}

.signup-form-detail-container{
    // text-align: center;
    font-size: 1.123rem;
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
}

.signup-form-detail-input{
    // transition: 0.5s ease-in;
    border: none;
    margin-top: 0.5rem;
    display:flex;
    input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: black;
        height: 2.5em;
        background-color: #fff;
        padding: 0 .5em;
        font-size: 1em;
    }
    input:-webkit-autofill, .login-page-container .login-page .login-form-container input:-webkit-autofill:hover, .login-page-container .login-page .login-form-container input:-webkit-autofill:focus, .login-page-container .login-page .login-form-container input:-webkit-autofill:active, .login-page-container .login-page .login-form-container input:-internal-autofill-selected {
        background-color: white !important;
        -webkit-box-shadow: none !important;
        color: black !important;
    }
}
.signup-form-dropdown{
    padding: 0.3125rem 3.5625rem;
}
.signup-form-input-detail-container{
    margin: auto;
    margin-bottom: 1.875rem;
}
input:focus{
    outline: none;
}
.signup-form-button-container{
    display: flex;
    .signup-form-button{
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
        text-decoration: none;
        border: 1px solid #F9C095;
        border-radius: 3px;
        background-color: #F9C095;
        margin: 0 0 1em;
        transition: all .2s ease-in-out;
        will-change: background-color color;
        text-transform: uppercase;
        color: black;
        padding: 1.25em 2em;
        cursor: pointer;
    }
    .signup-form-button:hover{
        border: 1px solid black;
        background-color: black;
        color: #F9C095;
    }
}
.signup-errors{
    padding: 5px 0;
    color: red;
    font-style: italic;
    font-size: 75%;
}
.DayPickerInput{
    width: 100%;
    display: flex;
    position: relative;
    input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: black;
        height: 2.5em;
        background-color: #fff;
        padding: 0 .5em;
        font-size: 1em;
    }
    input:-webkit-autofill, .login-page-container .login-page .login-form-container input:-webkit-autofill:hover, .login-page-container .login-page .login-form-container input:-webkit-autofill:focus, .login-page-container .login-page .login-form-container input:-webkit-autofill:active, .login-page-container .login-page .login-form-container input:-internal-autofill-selected {
        background-color: white !important;
        -webkit-box-shadow: none !important;
        color: black !important;
    }

}
.signup-form-detail-dropdown{
    margin-top: 0.5rem;
    .signup-form-dropdown:focus{
        outline: none;
    }
    .signup-form-dropdown{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: black;
        height: 2.5em;
        background-color: #fff;
        padding: 0 .5em;
        font-size: 1em;
        //appearance: none;
        //color: white;
    }
}
.signup-form{
    max-width: 512px;
    width: 100%;
}

.signup-form-height-input{
    // transition: 0.5s ease-in;
    border: none;
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    .signup-form-height{
        display: flex;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.5rem;
        }
        input{
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: black;
            height: 2.5em;
            background-color: #fff;
            padding: 0 .5em;
            font-size: 1em;
        }
        input:-webkit-autofill, .login-page-container .login-page .login-form-container input:-webkit-autofill:hover, .login-page-container .login-page .login-form-container input:-webkit-autofill:focus, .login-page-container .login-page .login-form-container input:-webkit-autofill:active, .login-page-container .login-page .login-form-container input:-internal-autofill-selected {
            background-color: white !important;
            -webkit-box-shadow: none !important;
            color: black !important;
        }
    }
}
.signup-form-input-detail-container{
    display: flex;
    flex-direction: column;
}
.DayPickerInput-OverlayWrapper{
    left: 0rem;
    top: 3rem;
    z-index: 40;
    position: absolute;
}




