.wrapper{
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    .separators{
        padding: 2rem 0;
        text-align: center;
        background-color: #2F4858;
        color: whitesmoke;
        
        h2{
            // text-shadow: 3px 2px black;
            display: block;
            font-size: 2.3em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold
        }

        p{
            // text-shadow: 1px 1px black;
            display: block;
            margin-block-start: 1.5em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-size: 1.2rem;
            line-height: 1.71em;
        }

    }
    .Info{
        // background-color: #C0C3C9;
        background-image: url("/images/workout.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        position: flex;
        min-width: 320px;
        padding: 3em 1em;
        padding-bottom: 160px;
        text-shadow: 2px 2px 3px black;
    }

    .Info h1{
        font-weight: bold;
        text-shadow: 3px 2px black;
        color: white;
        font-size: 3em;
    }

    .Info p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1.2rem;
        line-height: 1.70em;
        color: white;
        max-width: 24em;
        a{
            color: #F9C095;
        }
        a:hover{
            text-decoration: underline;
        }
    }

    .Sign-up-btn{
        border: none;
        color: black;
        background-color: #F9C095;
        padding: 18px 60px;
        font-size: 0.875rem;
        min-width: 64px;
        box-sizing: border-box;
        line-height: 1.5rem;
        font-weight: 600;
        border-radius: 7px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .Sign-up-btn:hover{
        color: #F9C095;
        background-color: black;
        box-shadow: 3px 3px 6px black;
    }

    a{
        text-decoration: none;
        color: #2678F0;
        cursor: pointer;
    }

    .demo-feature{
        padding: 30px;
        text-align: center;
        justify-content: center;
        background-image: url("/images/meal-background.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .demo-feature h2{
        text-shadow: 3px 2px black;
        color: white;
        display: block;
        font-size: 2.3em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .demo-feature p{
        text-shadow: 1px 1px black;
        color: white;
        display: block;
        margin-block-start: 1.5em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1.2rem;
        line-height: 1.71em;
    }

    .selector-demo{
        height: 40rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .exercise-demo-feature{
        padding: 30px;
        text-align: center;
        justify-content: center;
        background-image: url("/images/gym-background.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .exercise-demo-feature h2{
        text-shadow: 3px 2px black;
        color: white;
        display: block;
        font-size: 2.3em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .exercise-demo-feature p{
        text-shadow: 1px 1px black;
        color: white;
        display: block;
        margin-block-start: 1.5em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1.2rem;
        line-height: 1.71em;
    }

    .exercise-selector-demo{
        height: 40rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .developer-info{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: orange;
        padding: 30px;
    }



    .developer-container{
        display: flex;
        flex-direction:row;
        padding: 10px;
    }


    .developer-photo img{
        border-radius: 50%;
        width:120px;
        padding: 10px;

    }

    .links img{
        padding: 15px;
        width: 40px;
    }
}
