.meal-selector{
  height: 100%;
  //display: flex;
  //flex-direction: column;
  .not-found{
    box-shadow: 0px -2px 3px gray;
    display: flex;
    flex-direction: column;
    div:nth-of-type(2){
      margin: 1rem 0;
      color: black;
      background-color: pink;
      width: 100%;
      border: none;
      height: 3rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */

    }

  }

  .meal-search{
    display: flex;
    flex-direction: column;
    .search-actions-container{
      display: flex;
      flex-direction: column;
      .meal-searchbar{
          position: relative;
        input{
         padding-left: 3rem;
        }
          svg{
            path:nth-of-type(1){
              fill: white;
            }
            left: 1rem;
            top: 2rem;
            position: absolute;
          }
        }
      .search-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //.select-filters {
        //  margin: 0 1rem;
        //  //width: calc(100% - 2rem);
        //  width: 100%;
        //  color: #F9C095;
        //  background-color: black;
        //  border: none;
        //  height: 3rem;
        //  border-radius: 5px;
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  cursor: pointer;
        //  -webkit-touch-callout: none; /* iOS Safari */
        //  -webkit-user-select: none; /* Safari */
        //   -khtml-user-select: none; /* Konqueror HTML */
        //     -moz-user-select: none; /* Old versions of Firefox */
        //      -ms-user-select: none; /* Internet Explorer/Edge */
        //          user-select: none; /* Non-prefixed version, currently
        //                                supported by Chrome, Opera and Firefox */
        //}
        //.select-filters{
        //  color: black;
        //  background-color: pink;
        //}

      }
      .ignore-filters{
        margin-top: 1rem;
      }
      div, input{
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
      }
      .ignore-filters, .select-filters{
        background-color: black;
        color: #F9C095;
        border-radius: 5px;
        margin-top: 1rem;
        cursor: pointer;
      }
      .ignore-filters:hover, .select-filters:hover{
        box-shadow: 3px 3px 6px black;
        background-color: darken(#F9C095, 10%);
        color: black;
      }
      .ignore-filters.ignoring:hover{
        box-shadow: 3px 3px 6px black;
        background-color: darken(#F9C095, 10%);
        color: black;
      }
      .ignore-filters.ignoring{
        background-color: black;
        color: #F9C095;
      }
    }
    input::placeholder{
      color: white;
    }
    input{
      text-align: start;

      //font-size: 150%;
      color: white;
      padding-left: 2rem;
    }
  }
  .calorie-count{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .calorie-count.too-low{
    color: blue;
  }
  .calorie-count.too-high{
    color: red;
  }
  .calorie-count.just-right{
    color: darkgreen;
  }
  .selected-meals{
    margin: 1rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    .meal-item:not(:nth-of-type(1)){
      margin-top: 1rem;
    }
  }
  .meal-list, .selected-meals{
    flex-direction: column;
    .info{
      padding: 1rem;
      margin-bottom: 1rem;
      font-style: italic;
      color: red;
    }
    .routine-actions{
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      .submit-meals.disabled{
        opacity: 0.2;
        cursor: default;
      }
      .submit-meals:hover{
        color: darken(#F9C095, 10%);
        box-shadow: 3px 3px 6px black;
      }
      .submit-meals, .select-filters {
        margin: 0 1rem;
        //width: calc(100% - 2rem);
        width: 100%;
        color: #F9C095;
        background-color: black;
        border: none;
        height: 3rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
      }
      .select-filters{
        color: black;
        background-color: pink;
      }
    }
  }
  select::-ms-expand {
    display: none;
  }
  select:focus{
    outline: none;
  }
  select, input {
    -moz-appearance: none;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: black;
    border:1px solid pink;
    color: pink;
  }
  .day-select{
    display: flex;
    flex-direction: column;
    h1{
      margin-bottom: 1rem;
      font-size: 125%;
    }
    .scheduled-days{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      justify-content: center;
      div{
        border-radius: 5px;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 6px black;
        cursor: pointer;
      }
      div:hover{
        background-color: darken(#F9C095, 5%);
        color: black;
      }
      div.selected{
        background-color: black;
        color: #F9C095;
      }
    }
  }

  .num-meals-select{
    flex-direction: column;
    form{
      width: 100%;
      display:flex;
      justify-content: space-between;
    }
  }
}
.meal-selector > div:not(:last-of-type){
  box-shadow: 0 4px 2px -2px gray;
}
.meal-selector > div{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

@media only screen and (min-width: 725px) {
  .meal-selector {
    .meal-search {
      .search-actions-container {
        //flex-direction: row;
        justify-content: space-between;
        div{
          margin-right: 0.35rem;
        }
        .ignore-filters{
          margin-top: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 715px) {
  .meal-selector{
    .meal-list{
      .routine-actions{
        flex-direction: column;
        .submit-meals, .select-filters {
          margin: 0.5rem 0;
        }
      }
    }
  }
}