.meals-filters > div:not(:last-of-type){
//    box-shadow: 3px 3px 6px -5px black;
//  border-bottom: 1px solid black;
}
.meals-filters{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: black;
  width: 100%;
  .separator-container{
    max-width: 512px;
    width: 100%;
    color: black;
    .separator{
      border-color: black;
    }
  }
  .filter-summary-container{
    max-width: 512px;
    width: 100%;
    background-color: black;
    color: #F9C095;
     margin-top: 1rem;
    border-bottom: 1px solid black;
    .title{
      font-size: 150%;
      padding: 0.5rem 0;
    }
    .filter-summary{
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      .nutrient-info{
        display: flex;
        flex-direction: column;
        .min-max-container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          .min-max{
            margin: 1rem;
          }
        }
        .to-container{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .to-container:after{
          content: "TO";
        }
      }
    }
  }
  .filter-input-container{
    max-width: 512px;
    width: 100%;
    margin-top: 1rem;
    .filter-input.average{
      margin: 1rem 2rem;
      .submit:hover{
        box-shadow: 3px 3px 6px -5px black;
        cursor: pointer;
      }
      .submit{
        margin-top: 1rem;
        background-color: black;
        color: #F9C095;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
      input{
        margin-top: 0.5rem;
      }
    }
    .filter-input{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 2rem;
      div{
        justify-content: center;
      }
      .to-container{
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
      }
      .to-container:after{
        content: "TO";
      }
      label{
        margin: 1rem 0;
        display: flex;
        width: auto;
        flex-direction: column;
        //justify-content: center;
        //align-items: center;
        h1{
          width: 100%;
        }
        input{
          background-color: #F9C095;
          border: none;
          text-align: center;
          font-size: 150%;
          width: 100%;
          padding: 0;
          border-bottom: 1px solid rgba(0,0,0, 0.8);
        }
      }
    }
  }

}

@media only screen and (max-width: 365px) {
  .meals-filters {
    .filter-summary-container {
      .filter-summary {
        flex-direction: column;
        .nutrient-info:not(:nth-of-type(1)){
          margin-top: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .meals-filters {
    .filter-summary-container {
      .filter-summary {
        .nutrient-info {
          .min-max-container {
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 555px) {
  .meals-filters{
    .filter-summary{
      .nutrient-info{
        .min-max-container{
          flex-direction: column;
        }
      }
    }
  }
}