.create-exercise-form{
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 1rem 1rem;
  color: pink;
  text-shadow: 1px 1px 3px black;
  box-shadow: 2px 2px 6px black;
  .exercise-errors{
    font-style: italic;
    color: red;
  }
  .add-user-exercise-input-container{
    display: flex;
    flex-direction: column;
    input, label, select, textarea{
      margin: 1rem 2rem 1rem 2rem;
    }
    label{
      display: flex;
      justify-content: space-between;
    }
    input:-internal-autofill-selected{
      background-color: rgba(0,0,0,0) !important;
      //color: -internal-light-dark-color(black, black) !important;
      -webkit-text-fill-color: black;
    }
    select::-ms-expand {
      display: none;
    }
    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
    input, select, textarea{
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 1px solid pink;
      text-align: center;
      text-align-last: center;
      font-size: 150%;
      color: pink;
      outline: none;
    }
    textarea{
      text-align-last: start;
      text-align: start;
    }

  }
  .submit-container{
    //border-top: 1px solid lightskyblue;
    padding: 0.5rem 2rem 1rem 2rem;
    margin-top: 1rem;
    .submit{
      cursor: pointer;
      background-color: pink;
      color: black;
      text-shadow: 1px 1px 3px lightskyblue;
      box-shadow: 2px 2px 6px black;
      border-radius: 5px;
      padding: 1rem 0;
    }
  }
}