.existing-days-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    .or-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        div:not(:nth-of-type(2)){
            margin: 1rem;
            border-bottom: 1px solid gray;
            width: 75%;
            height: 0px;
        }
    }
    .edit-routine-container{
        margin: 1rem 0rem;
        padding: 1rem 0rem;
        box-shadow: 0px 4px 3px -2px gray;
        .edit-routine{
            cursor: pointer;
            padding: 1rem;
            background-color: black;
            color: #F9C095;
            border-radius: 5px;
            margin: 0.5rem 2rem;
        }
        .edit-routine:hover{
            box-shadow: 0px 4px 3px -2px black;
        }
    }

    .title{
        color: black;
        margin-top: 1rem;
        font-size: 150%;
    }
    .description{
        font-size: 100%;
        color: black;
        margin-top: 1rem;
    }
    .summary{
        color: black;
        font-size: 150%;
    }
    .meal-title{
      text-align: start;
    }
    .date-error{
        margin-top: 1rem;
        color: red;
        font-style: italic;
    }
    .react-date-picker{
        margin: 2rem 3rem 0 3rem;
        .react-date-picker__calendar{
            left: -3rem !important;
        }
    }
    .submit:not(.disabled):hover{
        box-shadow: 2px 2px 6px black;
    }
    .submit{
        margin: 2rem 1rem;
        background-color: black;
        color: #F9C095;
        padding: 2rem;
        border-radius: 5px;
        font-size: 150%;
        cursor: pointer;
    }
    .submit.disabled{
        background-color: rgba(0,0,0,0.5);
        color: black;
        cursor: default;
    }
}