.RoutineShow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //align-items: stretch;
  background-color: #F9C095;
  border-radius: 10px;
  .not-found{
    display:flex;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .title{
      margin-top: 1rem;
    }
    .create{
      display:flex;
      justify-content: center;
      div{
        background-color: black;
        padding: 0.5rem 3rem;
        margin-top: 1rem;
        width: fit-content;
        border-radius: 5px;
        cursor: pointer;
        color: #F9C095;

      }
      div:hover{
        box-shadow: 3px 3px 6px black;
      }
    }
  }
}