.exercise-selector-container{
  height: 100%;
  .submit{
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 6px;
    border-radius: 5px;
    div{
      margin: 1rem;
      padding: 1rem;
      box-shadow: 3px 3px 6px black;
      background-color: pink;
      border-radius: 5px;
    }
  }
  .day-select{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-shadow: 3px 3px 6px;
    border-radius: 5px;
    select{
      -webkit-appearance: none;
      outline: none;
      //padding-right: 0.25rem;
      border-radius: 5px;
      background-color: black;
      border: 1px solid pink;
      color: pink;
      padding: 0.5rem 1rem;
    }

    .drop-down{
      background-color: pink;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .scheduled-days-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 6px;
    border-radius: 5px;
    .scheduled-days{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      div{
        border-radius: 5px;
        flex: 1 1 100%;
        margin: 0.5rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 6px;
        cursor: pointer;
      }
      div.selected{
        background-color: pink;
      }
    }
  }
  .group-exercises-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 6px;
    border-radius: 5px;
    overflow: hidden;
    .group-exercise-list{
      display: flex;
      flex-direction: column;
      .carousel-container{
          box-sizing: border-box;
          flex-direction: column;
          display: flex;
          padding-top: 0.5rem;
          max-width: 100%;
          min-width: 100%;
          position: relative;
          user-select: none;
          .carousel-headers{
              box-sizing: border-box;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              justify-content: space-between;
              display: flex;
              margin: 0px 1rem 1rem;
              padding-left: 1rem;
              .header-buttons > a{
                  -webkit-box-align: center;
                  align-items: center;
                  display: inline-flex;
                  justify-content: space-around;
                  position: relative;
                  height: 2.5rem;
                  color: rgb(102, 102, 102);
                  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                  font-size: 0.875rem;
                  font-weight: 600;
                  text-transform: uppercase;
                  user-select: none;
                  white-space: nowrap;
                  width: auto;
                  background: rgb(255, 255, 255);
                  border-width: 0.0625rem;
                  border-style: solid;
                  border-color: rgb(221, 221, 221);
                  border-image: initial;
                  border-radius: 0.25rem;
                  transition: all 300ms ease 0s;
                  padding: 0px 1rem;
              }
              .header-buttons{
                  box-sizing: border-box;
                  -webkit-box-align: center;
                  align-items: center;
                  flex-wrap: nowrap;
                  display: flex;
                  white-space: nowrap;
                  .carousel-nav.disabled{
                      cursor: auto;
                  }
                  .carousel-nav{
                      cursor: pointer;
                      -webkit-box-align: center;
                      align-items: center;
                      display: inline-flex;
                      justify-content: space-around;
                      position: relative;
                      height: 2.5rem;
                      width: 2.75rem;
                      background: rgb(255, 255, 255);
                      border-width: 0.0625rem;
                      border-style: solid;
                      border-color: rgb(221, 221, 221);
                      border-image: initial;
                      border-radius: 0.25rem;
                      transition: all 300ms ease 0s;
                  }
                  .prev-button{
                      margin-left: 0.5rem;
                      transform: translateX(0.0625rem);
                      border-radius: 0.25rem 0px 0px 0.25rem;
                      svg{
                          transform: rotate(90deg);
                      }
                  }
                  .next-button{
                      border-radius: 0px 0.25rem 0.25rem 0px;
                      svg{
                          transform: rotate(270deg);
                      }
                  }
              }
              h2{
                  box-sizing: border-box;
                  align-items: flex-start;
                  flex-direction: column;
                  -webkit-box-pack: center;
                  justify-content: center;
                  display: flex;
                  color: pink;
                  text-shadow: 1px 1px 3px black;
                  line-height: 1.25;
                  padding-right: 0.5rem;
              }
          }
      }
      .option-carousel{
          -webkit-box-align: center;
          align-items: center;
          flex-wrap: nowrap;
          display: flex;
        .carousel-items{
          transition: transform 1s ease;
          width: 100%;
          min-width: 100%;
          display: flex;
          flex-direction: column;
        }

      }
      .exercise-item{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 0.5rem;
        text-align: start;
        cursor: pointer;
        box-shadow: 3px 3px 6px;
      }
      .exercise-item.selected{
        background-color: pink;
        color:black;

      }
    }
  }
}