.male-front-container{
    display: flex;
    justify-content: center;
}

.male-front-selector{
    margin-top: 10px;
    position: relative;
}

#front-male-muscle-group{
    
}

#front-male-abs{
    position: absolute;
    top: 145px;
    left: 120px;
    opacity: 0;
    z-index: 4;
}


.front-male-arms{
    opacity: 0;
}

#front-male-left-arm{
    position: absolute;
    top: 127px;
    left: 51px;
    z-index: 4;
}

#front-male-right-arm{
    position: absolute;
    top: 127px;
    left: 215px;
    z-index: 4;
}


.front-male-chest{
    opacity: 0;
}


.front-male-shoulder{
    opacity: 0;
}

#front-male-top-shoulder{
    position: absolute;
    top: 76px;
    left: 134px;
    z-index: 4;
}

#front-male-left-shoulder{
    position: absolute;
    top: 102px;
    left: 96px;
    z-index: 4;
}

#front-male-right-shoulder{
    position: absolute;
    top: 103px;
    left: 193px;
    z-index: 4;
}

#front-male-left-chest{
    position: absolute;
    top: 107px;
    left: 115px;
}

#front-male-right-chest{
    position: absolute;
    top: 107px;
    left: 170px;
}


.front-male-legs{
  opacity: 0;  
}

#front-male-left-leg{
    position: absolute;
    top: 224px;
    left: 104px;
    z-index: 1;
}

#front-male-right-leg{
    position: absolute;
    top: 224px;
    left: 168px;
    z-index: 1;
}
