.male-back-container{
    display: flex;
    justify-content: center;
}

.male-back-selector{
    margin-top: 10px;
    position: relative;
}

#back-male-muscle-group{

}


#back-male-back{
    position:absolute;
    top: 83px;
    left: 115px;
    opacity: 0;
}

#back-male-calves{
    position:absolute;
    top: 362px;
    left: 94px;
    opacity: 0;
}
.back-male-arms{
    opacity: 0;
}


#back-male-left-arm{
    position: absolute;
    top: 122px;
    left: 45px;
}

#back-male-right-arm{
    position: absolute;
    top: 120px;
    left: 218px;
}

.back-male-shoulder{
   opacity: 0; 
}

#back-male-top-shoulder{
    position: absolute;
    top: 66px;
    left: 137px;
    clip-path: polygon(50% 11%, 67% 3%, 78% 48%, 100% 100%, 75% 89%, 50% 70%, 7% 100%, 2% 96%, 24% 49%, 34% 1%);
}

#back-male-left-shoulder{
    position: absolute;
    top: 90px;
    left: 90px;
    clip-path: polygon(59% 4%, 100% 0, 100% 18%, 80% 38%, 55% 52%, 47% 76%, 0 100%, 0% 70%, 4% 43%, 24% 17%);
}

#back-male-right-shoulder{
    position: absolute;
    top: 90px;
    left: 199px;
    clip-path: polygon(39% 4%, 75% 21%, 94% 57%, 94% 100%, 75% 88%, 45% 80%, 39% 53%, 12% 38%, 0 25%, 0 3%);
}

#back-male-legs{
    position: absolute;
    top: 219px;
    left: 108px;
    opacity: 0;
}
